html{
    font-size: 16px;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    box-sizing: border-box;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333333;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
    display: block;
}
input,button{
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
a{
    text-decoration: none;
    color: #333333;
}
a:link{
    color: #333333;
}
a:visited{
    color: #b32a22;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    color: #1f1f1f;
}
.header{
    background: #ffffff;
    padding: .5rem .8rem;
    border-bottom: 1px solid #e0e0e0;
}
.logo{
    width: 5.0rem;
    display: inline-block;
}
.locate{
    float: right;
    color: #b32a22;
    line-height: 2.0rem;
}
.search{
    padding: .8rem;
}
.search-body{
    border: 1px solid #d6d6d6;
    background: #ffffff;
    border-radius: .2rem;
    padding: 1px;
    display: table;
    width: 100%;
}
.search-body input,button{
    line-height: 1.0rem;
    padding: .5rem;
    box-sizing: border-box;
    outline: 0;
}
.search-text{
    width: 78%;
    border: 0;
}
.search-button{
    width: 22%;
    max-width: 5.0rem;
    color: #ffffff;
    background: #b32a22;
    border: 0;
    float: right;
    border-radius: .2rem;
    line-height: 1.0rem;
}
.nav{
    clear: both;
    padding-top: 1.0rem;
    background: #ffffff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}
.nav-body{
    width: 100%;
    overflow: hidden;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
}
.nav-body::-webkit-scrollbar{
    display: none;
}
.nav-menu{
    display: inline-block;
    width: 200%;
    white-space: nowrap;
    overflow-y: hidden;
}
.nav-menu ul{
    width: 320px;
    float: left;
}
.nav-menu ul li{
    width: 25%;
    display: inline-block;
    float: left;
    padding-bottom: .6rem;
}
.nav-icon{
    width: 3.0rem;
    height: 3.0rem;
    color: #ffffff;
    line-height: 3.0rem;
    border-radius: 3.0rem;
    margin: 0 auto;
    font-size: 1.2rem;
}
.nav-title{
    line-height: 2.0rem;
}
.nav-dot{
    clear: both;
}
.nav-dot ul li{
    width: .5rem;
    height: .5rem;
    background: #dcdcdc;
    border-radius: .5rem;
    display: inline-block;
}
.nav-dot-hover{
    background: #b32a22 !important;
}
.nav-bkcolor01{
    background: #f39800;
}
.nav-bkcolor02{
    background: #13b5b1;
}
.nav-bkcolor03{
    background: #eb6877;
}
.nav-bkcolor04{
    background: #e60012;
}
.nav-bkcolor05{
    background: #556fb5;
}
.nav-bkcolor06{
    background: #22ac38;
}
.nav-bkcolor07{
    background: #8957a1;
}
.nav-bkcolor08{
    background: #00479d;
}

.body{
    background: #ffffff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-top: .8rem;
}
.body-title{
    padding: 0 .8rem;
    line-height: 2.5rem;
    font-size: .9rem;
    display: table;
    width: 100%;
    box-sizing: border-box;
}
.body-comp{
    float: left;
    color: #b32a22;
}
.body-comp span{
    color: #828282;
}
.body-seq{
    float: right;
}
.body-seq ul li{
    border-left: 1px solid #e0e0e0;
    padding: 0 .6rem;
    float: left;
}
.body-seq-money{
    position: absolute;
    background: #ffffff;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    right: 0;
    padding: 0 .48rem;
    display: none;
}
.body-seq-money div{
    border-top: 1px solid #e0e0e0;
}
.body-item{
    border-top: 1px solid #e0e0e0;
    padding: .8rem;
}
.body-item-img{
    position: absolute;
    width: 5.0rem;
    height: 3.6rem;
}
.body-concent{
    padding-left: 5.5rem;
    padding-top:2px;
}
.body-concent h2{
    font-size: .9rem;
    font-weight: 400;
    margin: 0;
    line-height: .9rem;
    height: .9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.body-allmoney{
    font-size: .8rem;
    color: #333333;
    padding-top: .2rem;
}
.body-allm{
    font-size: .9rem;
    color: #b32a22;
}
.body-alls{
    font-size: .7rem;
    color: #666666;
}
.body-read{
    font-size: .6rem;
    line-height: 1.0rem;
    color: #666666;
}
.body-read ul li{
    display: inline-block;
    padding-right: .3rem;
}
.body-read ul li span{
    color: #cccccc;
    padding-right: .3rem;
}
.body-address{
    display: inline-block;
    font-size: .5rem;
    width: 100%;
}
.body-adrtime{
    float: left;
    color: #666666;
    line-height: 1.0rem;
}
.body-adrtime span{
    padding-right: .3rem;
}
.body-share{
    float: right;
    background: #d17f7a;
    border-radius: .1rem;
    color: #ffffff;
    padding: .1rem .3rem;
}
.user-header{
    background: url("../img/userbg.jpg");
    background-size: cover;
    /*height: 8.0rem;*/
    padding-top: 1.0rem;
}
.user-header-body{
    width: 90%;
    margin: 0 auto;
    display: table;
}
.user-portrait{
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid rgba(255,255,255,.6);
    border-radius: 3.5rem;
    overflow: hidden;
    float: left;
}
.user-name{
    display: inline-block;
    color: #ffffff;
    line-height: 3.5rem;
    padding: 0;
    float: left;
    padding-left: .6rem;
}
.user-name button{
    background: #cc3027;
    border-radius: .2rem;
    border: 0;
    color: #ffffff;
    line-height: 1.2rem;
    font-size: .8rem;
    padding: .3rem .5rem;
}
.user-count{
    background: rgba(255,255,255,.4);
    display: table;
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: .6rem 0;
    margin-top: 1.0rem;
}
.user-count div{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.user-count div span{
    font-size: .8rem;
}
.user-count-over{
    border-right: 1px solid #ffffff;
}
.user-nav{
    background: #ffffff;
    text-align: center;
    margin-top: .8rem;
    border-top: 1px solid #dedede;
    display: table;
    width: 100%;
    font-size: .8rem;
    color: #535353;
}
.user-nav ul li{
    width: 33.3333%;
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    line-height: 2.6rem;
    padding: 1.5rem 0 .5rem 0;
    float: left;
}
.user-nav ul li:nth-child(3){
    border-right: 0;
}
.user-nav ul li:nth-child(6){
    border-right: 0;
}
.user-nav img{
    width: auto;
    height: 1.6rem;
    margin: 0 auto;
}
.intro-header-back{
    position: absolute;
    top: 1.0rem;
    left: 1.0rem;
    background: rgba(0,0,0,.6);
    color: #ffffff;
    width: 2.0rem;
    height: 2.0rem;
    line-height: 2.0rem;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 2.0rem;
    z-index: 9;
}
.intro-header-img{
    width: 100%;
    max-height: 12.0rem;
    overflow: hidden;
}
.intro-header-adr{
    color: #ffffff;
    font-size: .6rem;
    line-height: 1.0em;
    padding: 0 1.0rem;
    margin-top: -2.0rem;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}
.intro-location{
    float: left;
    padding: .3rem .6rem;
    background: rgba(0,0,0,.6);
    border-radius: 1.0rem;
}
.intro-location span{
    padding-right: .3rem;
}
.intro-imgnum{
    float: right;
    padding: .3rem .6rem;
    background: rgba(0,0,0,.6);
}
.intro-title{
    background: #ffffff;
    border-bottom: 1px solid #dedede;
    padding: .8rem;
}
.intro-title h1{
    font-size: 1.0rem;
    line-height: 1.5rem;
    max-height: 3.0rem;
    overflow: hidden;
}
.intro-count{
    margin-top: .6rem;
}
.intro-money{
    background: #ffffff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-top: .8rem;
}
.intro-money-list{
    text-align: center;
    display: table;
    width: 100%;
    padding: 1.0rem 0;
    border-bottom: 1px solid #dedede;
}
.intro-money-list ul li{
    width: 33.3333%;
    float: left;
    color: #1f1f1f;
    font-size: .9rem;
    border-right: 1px solid #dedede;
    line-height: 1.8rem;
    box-sizing: border-box;
}
.intro-money-list ul li span{
    font-size: 1.0rem;
    color: #b32a22;
    font-weight: bold;
}
.intro-money-list ul li:last-child{
    border-right: 0;
}
.intro-money-time{
    font-size: .8rem;
    line-height: 1.5rem;
    padding: .5rem 0 .5rem 1.0rem;
}
.intro-money-time span{
    font-size: 1.0rem;
    color: #b32a22;
}
.intro-money-time hr{
    border: 0;
    border-top: 1px solid #dedede;
}
.intro-act{
    background: #ffffff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-top: .8rem;
    padding-left: 1.0rem;
    box-sizing: border-box;
}
.intro-act h2{
    border-left: 2px solid #b32a22;
    font-size: .9rem;
    font-weight: normal;
    color: #b32a22;
    padding-left: .3rem;
    margin: .6rem 0;
}
.intro-act h2 span{
    font-size: .6rem;
    color: #656565;
}
.intro-content{
    border-top: 1px solid #dedede;
    padding-right: 1.0rem;
    line-height: 1.3rem;
    color: #535353 !important;
    font-size: .9rem !important;
}
.intro-icon{
    margin-top: 3.0rem;
    display: table;
    width: 100%;
}
.intro-icon ul li{
    width: 33%;
    float: left;
    text-align: center;
    color: #1f1f1f;
    text-align: center;
    font-size: .7rem;
}
.intro-tubiao{
    width: 3.0rem;
    height: 3.0rem;
    text-align: center;
    border-radius: 3.0rem;
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #cccccc;
    font-size: 1.5rem;
    line-height: 3.0rem;
    margin: 0 auto;
}
.intro-icon-name{
    line-height: 2.5rem;
}
.intro-icon-name span{
    color: #b32a22;
}
.rank-user{
    background: #ffffff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-top: .8rem;
    padding: .8rem 1.0rem;
    display: table;
    width: 100%;
    box-sizing: border-box;
}
.rank-portrait{
    width: 3.0rem;
    height: 3.0rem;
    overflow: hidden;
    float: left;
}
.rank-username{
    color: #1f1f1f;
    line-height: 1.5rem;
    float: left;
    margin-left: .6rem;
}
.rank-username span{
    color: #666666;
    font-size: .8rem;
}
.rank-user-place{
    color: #b32a22 !important;
}
.rank-sharebtn{
    line-height: 1.5rem;
    background: #b32a22;
    color: #ffffff;
    float: right;
    font-size: .9rem;
    padding: 0 .5rem;
    border-radius: .2rem;
    margin-top: .75rem;
}
.rank-list{
    background: #ffffff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-top: .8rem;
    padding-left: 1.0rem;
    box-sizing: border-box;
    color: #423c3c;
    line-height: 3.0rem;
}
.rank-list ul li:first-child{
    border-top: 0;
}
.rank-list ul li{
    border-top: 1px solid #dedede;
    display: table;
    width: 100%;
    font-size: .9rem;
}
.rank-list-num{
    width: 3.8rem;
    float: left;
    text-align: center;
}
.rank-list-portrait{
    width: 1.8rem;
    float: left;
    padding: .2rem;
    border: 1px solid #dedede;
    box-shadow: 1px 1px 1px #cccccc;
    border-radius: 1.8rem;
    overflow: hidden;
    margin-top: .3rem;
}
.rank-list-portrait img{
    border-radius: 1.8rem;
}
.rank-list-name{
    float: left;
    margin-left: .5rem;
    height: 3.0rem;
    max-width: 6.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rank-list-money{
    float: right;
    color: #b32a22;
    margin-right: .8rem;
}
.details-list{
    width: 100%;
    text-align: center;
    margin: .6rem 0;
}
.details-list th{
    font-size: .9rem;
    color: #1f1f1f;
}
.details-list td{
    color: #666666;
}
.details-money{
    background: #ffffff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-top: .8rem;
}
.details-money-list{
    text-align: center;
    display: table;
    width: 100%;
    padding: 1.0rem 0;
}
.details-money-list:first-child{
    border-bottom: 1px solid #dedede;
}
.details-money-list ul li{
    width: 50%;
    float: left;
    color: #1f1f1f;
    font-size: .9rem;
    border-right: 1px solid #dedede;
    line-height: 1.8rem;
    box-sizing: border-box;
}
.details-money-list ul li span{
    font-size: 1.0rem;
    color: #b32a22;
    font-weight: bold;
}
.details-money-list ul li:last-child{
    border-right: 0;
}


.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
    display: inline-block;
    border-top: 1px solid #e0e0e0;
    font-size: .8rem;
    color: #5d656b;
}
.footer ul li{
    text-align: center;
    width: 33.3333%;
    float: left;
    line-height: 1.2rem;
    padding-top: .6rem;
}
.footer ul li span{
    font-size: 1.5rem;
}
.footer-hover{
    background: #fafafa;
}

.footer a{
    text-decoration: none;
    color: #333333;
}
.footer a:link{
    color: #333333;
}
.footer a:visited{
    color: #333333;
}