<?php include '../template1/header.html';?>
<link rel="stylesheet" href="style/css/style.css" type="text/css">
<body>
<div id="frame">

    <div id="top">

        <a id="logo" href="../index.php" style="left:-5px;"><img src="../source/images/y_logomain.jpg" align="top"></a>

        <a id="title">个人资料 --同城新媒</a>

		<span id="list">
		   <a href="login.html"><img src="../source/images/userlogin.png" align="top"></a>
		</span>
    </div>
    <div class="user-main">
        <div class="user-info">
            <div class="user-head-img">
                <img src="<?php echo $user_info['headimgurl'];?>" width="100%" style="border-radius: 9px;-webkit-border-radius: 9px;-moz-border-radius: 9px;">
            </div>
            <div class="user_info_right">
                <h4><?php echo $user_info['nickname'];?></h4>
            </div>
        </div>
        <div style="min-height: 400px">
            <div style="margin-top: 20px;">
                <!--<ul style="line-height: 20px">-->
                    <!--<li>我的积分: 0</li>-->
                    <!---->
                    <!--<li>我喜欢的: null</li>-->
                <!--</ul>-->
                <hr />
                <table style="margin:0 auto;width: 95%;background-color: white;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 9px;" rules="rows">
                    <tr>
                        <td> &nbsp;地址：</td>
                        <td><?php echo $user_info['country'].' '.$user_info['province'].' '.$user_info['city']?></td>
                    </tr>
                    <tr>
                        <td> &nbsp;关注时间：</td>
                        <td><?php echo date('Y-m-d',$user_info['subscribe_time']);?></td>
                    </tr>
                    <tr>
                        <td> &nbsp;我的积分：</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td> &nbsp;我喜欢的：</td>
                        <td>Null</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>
</body>
<?php include '../template1/footer.html';?>