.user-info{
    /*width: 100%;*/
    height: auto;
    /*min-height: 10px;*/
    /*position: relative;*/
    background-color: #D76B56;
    margin-top: 10px;
    overflow: hidden;
    padding: 10px;
    color: #FFFFFF;
}
.user-head-img{
    width: 15%;
    float: left;
    /*margin-left: 10px;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}
.user_info_right{
    /*width: 80%;*/
    /*text-align: right;*/
    float: right;
    width: 30%;
}
.user_records_table{
    margin-top: 10px;
}
.user_records_table table tr td{

}